<div class="container">
          <nav class="mobile-nav hidden-md hidden-lg">
            <a href="#" class="btn-nav-toogle first">
              <span class="bars"></span>
              Menu
            </a>
            <div class="mobile-nav-block">
              <h4>Navigation</h4>
              <a href="#" class="btn-nav-toogle">
                <span class="barsclose"></span>
                Close
              </a>      

              <ul class="nav navbar-nav">
                <li class=""><a href="{{path('findjob')}}"><strong>Find a Job</strong></a></li>
                <li class=""><a href="resume_list.html"><strong>Find Resumes</strong></a></li>
                <li  class=""><a href="{{path('postjob')}}"><strong>Post a Job</strong></a></li>
                <li><a href="{{path('login')}}"><strong>Login</strong></a></li>
                <li><a href="{{path('register')}}"><strong>Register</strong></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" >Pages <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{{path('about')}}">About Us</a></li>
                    <li><a href="{{path('contact')}}">Contact Us</a></li>
                    <li><a href="{{path('blog')}}">Articles &amp; Blog</a></li>
                    <li><a href="{{path('privacy')}}">Terms &amp; Privacy</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" >Features <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{{path('findjob')}}">Find a Job</a></li>
                    <li><a href="{{path('jobdetail')}}">Job Details</a></li>
                    <li><a href="resume_list.html">Find Resumes</a></li>
                    <li><a href="resume_details.html">Resume Details</a></li>
                    <li><a href="{{path('post_form')}}">Post a Job</a></li>
                    <li><a href="company_page.html">Company Profile</a></li>
                  </ul>
                </li>
              </ul>    
            </div>
          </nav>
        </div><!-- mobile navbar -->
