{% extends 'base.html.twig' %}
{% block body %}
  <!-- body-content -->
      <div class="body-content clearfix" >

        <!-- link top -->
        <div class="bg-color2 block-section-xs line-bottom">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 hidden-xs">
                <div>detail de l'offre :</div>
              </div>
              <div class="col-sm-6">
                <div class="text-right"><a href="{{path('findjob')}}">&laquo; retour à la liste des offres</a></div>
              </div>
            </div>
          </div>
        </div><!-- end link top -->

        <div class="bg-color2">
          <div class="container">
            <div class="row">
              <div class="col-md-9">

                <!-- box item details -->
                <div class="block-section box-item-details">
                  <div class="row">
                    <div class="col-md-8">
                      <a href="company_page.html"><img src="./assets/theme/images/patner/4.png" alt=""></a>
                    </div>
                    <div class="col-md-4">
                      <p class="text-right"><a href="#">aller à notre site-web &raquo;</a></p>
                    </div>
                  </div>

                  <h2 class="title"><a href="#">{{job.job_title}}</a></h2>
                  <div class="job-meta">
                    <ul class="list-inline">
                      <li><i class="fa fa-briefcase"></i> Contract Full-Time</li>
                      <li><i class="fa fa-map-marker"></i> {{job.location}}</li>
                    </ul>
                  </div>
                  <p>Location: {{job.location}} Type: Contracted to Full Time Min. Experience: Experienced
                    Krossover is looking for a Web Application Developer to join our team of smart developers. We build web and mobile applications and games for coaches, athletes and fans. If you're a talented programmer, and like sports and sports analytics, this is the position for you.</p>
                  <p>Our ideal candidate is technically curious, has a solid understanding of OOP and web development, and wants to build applications that improve people's lives.</p>
                  <p>We're interested in filling this position on either a contract or full-time basis. </p>
                  <p>{{job.description}}</p>

                  <h4>What we're looking for:</h4>

                  {{job.skills}}
                  <p>Krossover is a sports media and analytics startup that brings easy video breakdown and in-depth analytics to coaches and athletes at all levels. Think Friday Night Lights meets Moneyball. We're located in New York's Chelsea neighborhood. It's a spacious, sunny office with not a single grey wall anywhere. Our culture is one of intelligence and collaboration. Every now and then we talk sports.</p>
                  <p>We offer a competitive salary and benefits.</p>
                </div><!-- end box item details -->

              </div>
              <div class="col-md-3">

                <!-- box affix right -->
                <div class=<footer class="main-footer">


        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <ul class="list-inline link-footer text-center-xs">
                <li><a href="index.html">Acceuil</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about.html">à propos</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </div>
            <div class="col-sm-6 ">
              <p class="text-center-xs hidden-lg hidden-md hidden-sm">Stay Connect</p>
              <div class="socials text-right text-center-xs">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- end main-footer -->
                  <div class="text-right">
                    
                    <p><a href="#modal-apply"  data-toggle="modal" class="btn btn-theme btn-t-primary btn-block-xs">Apply This Job</a></p>
                    <p class="share-btns">
                      <a href="#" class="btn btn-primary"><i class="fa fa-facebook"></i></a>
                      <a href="#" class="btn btn-info"><i class="fa fa-twitter"></i></a>
                      <a href="#" class="btn btn-danger"><i class="fa fa-google-plus"></i></a>
                      <a href="#" class="btn btn-warning"><i class="fa fa-envelope"></i></a>
                    </p>
                  </div>
                </div><!-- box affix right -->

              </div>
            </div>
          </div>
        </div>

        

        <!-- modal apply -->
        <div class="modal fade" id="modal-apply">
          <div class="modal-dialog ">
            <div class="modal-content">
              <form action="/job/apply/{{job.id}}"  method="POST" enctype="multipart/form-data">
                <div class="modal-header ">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" >postuler</h4>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label>Nom Complet</label>
                    <input type="text" class="form-control "  placeholder="entrer votre nom" name='nom'>
                  </div>
                  <div class="form-group">
                    <label>Adresse Email</label>
                    <input type="email" class="form-control "  placeholder="entrer votre email" name='email'>
                  </div>
                  <div class="form-group">
                    <label>pourquoi étes-vous le meilleur ?</label>
                    <textarea class="form-control" rows="6" placeholder="" name='skills'></textarea>
                  </div>
                  <div class="form-group">
                    <label>Votre CV</label>
                    <div class="input-group">
                      <span class="input-group-btn">
                        <span class="btn btn-default btn-theme btn-file">
                          Fichier <input type="file" name='cv'>
                        </span>
                      </span>
                      <input type="text" class="form-control form-flat" readonly>
                    </div>
                    <small>importer votre CV. Max. file size: 24 MB.</small>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default btn-theme" data-dismiss="modal">fermer</button>
                  <button type="submit" class="btn btn-success btn-theme">envoyer l'Application</button>
                </div>
              </form>
            </div>
          </div>
        </div><!-- end modal  apply -->        
      </div><!--end body-content -->
{% endblock %}